<div class="contactpg">
    <div class="row">
        <div class="column">
            <ul>
                <li>
                    <div class="view contact-page">
                        <div class="contact-item">
                            <h4>Address</h4>
                            <p>959 WYANDOTTE ST W.<br />
                            WINDSOR, ONTARIO<br />
                            N9A 5Y2</p>
                        </div>
                        <div class="contact-item">
                            <h4>Contact</h4>
                            <p>Email: ADMIN@sezchuangarden1986.com<br />
                            tel: (519)253-9595</p>
                        </div>
                        <div class="contact-item">
                            <h4>Hours</h4>
                            <table>
                                <tr>
                                    <td>MON</td>
                                    <td>CLOSED</td>
                                </tr>
                                <tr>
                                    <td>Tue</td>
                                    <td>11:00~21:00</td>
                                </tr>
                                <tr>
                                    <td>Wed</td>
                                    <td>11:00~21:00</td>
                                </tr>
                                <tr>
                                    <td>Thu</td>
                                    <td>11:00~21:00</td>
                                </tr>
                                <tr>
                                    <td>Fri</td>
                                    <td>11:00~22:00</td>
                                </tr>
                                <tr>
                                    <td>Sat</td>
                                    <td>12:30~22:00</td>
                                </tr>
                                <tr>
                                    <td>Sun</td>
                                    <td>12:30~21:00</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="contact-google-map"></div>
                    </div>

                </li>
            </ul>
        </div> 
    </div>
</div>