<div class="homepg" ng-controller="homepgCtrl">
    <div class="row bleed">
        <div class="column homepg-caoursel">
            <div class="full">
                
                <img src="../../images/roastduck.png"/>
            </div>
        </div>
    </div>
    <div class="row">
    
        <div class="column homepg-panel">

            <ul class="two-three">
                <li>
                    <div class="view">
                    <a>Monthly Special</a>
                    <p>August 2016</p>
                        </div>
                </li>
                <li>
                    <div class="view">
                    <a>How far you can go?</a>
                    <p>Your adventure begins here</p>
                    </div>
                </li>
                <li>
                    <div class="view">
                    <a>Local Favorites</a>
                    <p></p>
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="column homepg-panel-small">

            <ul class="two-three">
                <li>
                    <a>
                        <div class="view">
                            <h4>Menu</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="view">
                    <h4>Reservation</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="view">
                    <h4>rewards</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="view">
                    <h4>Our Story</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="view">
                    <h4>monthly Special</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="view">
                    <h4>local favorites</h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>