<div class="homepg">
    <div class="row bleed">
        <div class="column homepg-caoursel">
            <div class="full">
                
                <img src="../../images/roastduck.png"/>
            </div>
        </div>
    </div>
    <div class="row">
    
        <div class="column homepg-panel">
            <ul class="two-three">
                <li ng-repeat="item in ajHomepg">
                    <div class="homepg-panel-item">
                    <a target="_blank" href="{{item.homepgLink}}">
                        <p>{{item.homepgTitle}}</p>
                        <p class="homepg-panel-subtitle">{{item.homepgSubtitle}}</p>
                    </a>
                    
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="column homepg-panel-small">

            <ul class="two-three">
                <li>
                    <a ui-sref="menu.list">
                        <div class="view">
                            <h4>Menu</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a ui-sref="reservations">
                        <div class="view">
                    <h4>Reservation</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a ui-sref="rewards">
                        <div class="view">
                    <h4>rewards</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a ui-sref="story.items({storyItems:'Overview'})">
                        <div class="view">
                    <h4>Our Story</h4>
                        </div>
                    </a>
                </li>
                <li ng-repeat="item in ajHomepg">
                    <div class="view">
                    <a target="_blank" href="{{item.homepgLink}}">
                        <p>{{item.homepgTitle}}</p>
                        
                    </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>