<div class="homepg" ng-controller="homepgCtrl">
    <div class="row bleed">
        <div class="column homepg-caoursel">
            <div class="full">
                
                <img src="../../images/roastduck.png"/>
            </div>
        </div>
    </div>
    <div class="row">
    
        <div class="column homepg-panel">

            <ul class="two-three">
                <li>
                    <div>
                    <h4>Monthly Special</h4>
                    <p>August 2016</p>
                        </div>
                </li>
                <li>
                    <div>
                    <h4>How far you can go?</h4>
                    <p>Your adventure</p>
                    </div>
                </li>
                <li>
                    <div>
                    <h4>Local Favorites</h4>
                    <p></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>