<div class="menupg">
    <div class="row">
        <div class="column">
            <ul class="large-one-forth menu-page">
                <li>
                    <div class="view side-menu">
                        <ul>
                            <li ng-repeat="(key, value) in ajMenuCategory" ui-sref-active="active">
                                <a ui-sref="menu.items({menuCategory:key})" class="side-menu-title" >
                                    <h4>{{key}}</h4>
                                    <h6>{{value.menuSubtitle}}</h6>
                                </a>
                            </li>                     
                        </ul>
                    </div>
                </li>

                <li>
                    <div ui-view="menuList" ></div>

                    <div ui-view="menuItems" ></div>
                        
                    
                </li>
            </ul>
        </div>
        

    
    </div>

</div>