<div class="menupg">
    <div class="row">
        <div class="column">
            <ul class="large-one-forth">
                <li>
                    <div class="view side-menu">
                        <ul >
                            <li ng-repeat="(key, value) in ajMenuCategory" ui-sref-active="active">
                                <a ui-sref="menu.detail({menuCategory:{{key}}})" class="side-menu-title" >
                                    <h4>{{key}}</h4>
                                    <h6>{{value.menuSubtitle}}</h6>
                                </a>
                            </li>                     
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="view menu-items">
                        <ul class="menu-items-header">
                            <li>
                                <img src="images/fire.png">
                                <span>Spicy</span>
                            </li>
                            <li>
                                <img src="images/clover.png">
                                <span>Vegetarian</span>
                            </li>
                        </ul>
                         <div ui-view="menuCategList" ></div>
                        
                    </div>
                </li>
            </ul>
        </div>
        

    
    </div>

</div>