<form ng-submit="processForm()">
    <!-- NAME -->
    <div id="login-name" class="login-name">
      <label>Name</label>
      <input type="text" name="name" class="" placeholder="Your Username" ng-model="loginForm.name" required>
      <span class="help-block"></span>
    </div>

    <!-- SUPERHERO NAME -->
    <div id="login-pswd" class="login-pswd">
      <label>Password</label>
      <input type="password" name="password" class="" placeholder="********" ng-model="loginForm.password" required>
      <span class="help-block"></span>
    </div>

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn-primary">
        Submit!
    </button>
</form>