<!-- SHOW ERROR/SUCCESS MESSAGES --> 
<p ng-show="errorMessage" class="help-block">Not Valid username/password combination</p>
<p ng-show="successMessage" class="help-block">{{message}}</p>
    
<form name="form" novalidate> 
    <!-- NAME -->
    <div class="login-name">
      <label>Name</label>
      <input type="text" name="name" class="" placeholder="Your Username" ng-model="loginForm.name" required="" />
<!--        name is not valid and has been touched-->
      <p ng-show="form.name.$touched && form.name.$error.required" class="help-block">You name is required.</p>

    </div>

    <!-- SUPERHERO NAME -->
    <div class="login-pswd">
      <label>Password</label>
      <input type="password" name="password" class="" placeholder="********" ng-model="loginForm.password" required="" />
      <p ng-show="form.password.$touched && form.password.$error.required" class="help-block">Enter a valid password.</p>
    </div>

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn-primary" ng-disabled="loginForm.$invalid" ng-click="submitForm(!loginForm.$invalid)" >
        Submit!
    </button>
</form>