$parent-class: ".global-nav";

#{$parent-class} {
    
    @include breakpoints-def(xsmall) {
        text-align: center;
        position: relative;
        
        .garden-sublogo {
            padding-bottom: 40px;
        }
        
        .garden-menu-mobile {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
     @include breakpoints-def(small) {
        
    }
    
    @include breakpoints-def(medium) {
        
    }
    
    @include breakpoints-def(large) {
        
    }
    
    a {
        background-color: brown;
    }
}