$parent-class: ".global-nav";
$global-nav-font-stack: (
    "ul.garden-menu li":15 15 18 18
);

#{$parent-class} {
    
    @include font-stack($global-nav-font-stack);
    
    @include breakpoints-def(small) {
        text-align: center;
        position: relative;
        color: $color-text-01;
        
        .garden-logo img{
            width: 300px;
        }
        
        .garden-sublogo {
            padding-bottom: 40px;
            
            img {
                width: 300px;
            }
        }
        
        .slideup, .slidedown {
            max-height: 0;            
            overflow-y: hidden;
            -webkit-transition: max-height 0.8s ease-in-out;
            -moz-transition: max-height 0.8s ease-in-out;
            -o-transition: max-height 0.8s ease-in-out;
            transition: max-height 0.8s ease-in-out;
        }
        .slidedown {            
            max-height: 207px ;                    
        }
        
        ul.garden-menu li{
            background-color: transparentize($color-bg-01, 0.3);
            line-height: 40px;
            border-bottom: 1px solid white;
            
            
            a {
                width: 100%;
                text-transform: capitalize;
            }
        }
        
        ul.garden-menu li:last-child{
            border-bottom: none;
        }
        
        .garden-menu-mobile {
            position: absolute;
            top: 15px;
            left: 0;
            cursor: pointer;
            
            img {
                width: 40px;
            }
        }
        
        a:hover {
            color:$color-text-01;
        }
        
        a:visited {
            color:$color-text-01;
        }
        
    }
    
    @include breakpoints-def(medium) {
        
    }
    
    @include breakpoints-def(large) {
        .garden-logo img{
            width: 600px;
        }
        
        .garden-sublogo {
            padding-bottom: 40px;
            
            img {
                width: 600px;
            }
        }
        
        .garden-menu-mobile {
            display: none;
        }
        
        ul.garden-menu {
            display: block;
            max-height: 100%;
        }
        
        ul.garden-menu li{
            border-bottom: none;
        }
        
    }
    
    @include breakpoints-def(xlarge) {
        
    }
    

}