$parent-class: ".homepg";
$homepg-font-stack: (
    ".homepg-panel .homepg-panel-item a":25 25 25 25,
    ".homepg-panel .homepg-panel-item a p":18 18 18 18,
   
);

#{$parent-class} {
    @include font-stack($homepg-font-stack);
    
    @include breakpoints-def(small) {
        letter-spacing: 1px;
        text-transform: uppercase;

        .homepg-caoursel {
            height:auto;
            width: 100%;
            margin-bottom: 30px;
            
            img {
                width: 100%;
            }
        }
        
        
        
        .homepg-panel li, .homepg-panel-small li{
            background-color: transparentize($color-bg-01, 0.5);
            margin-bottom: 20px;
        }
        
        .homepg-panel, .homepg-panel-small {

             li .view {
                 padding-left: 20px;
             }
             
             li>a{
                padding-bottom: 25px;
                width :100%;
                min-height: 160px;
            }
        }
        
        .homepg-panel {
            display: none;
            margin-bottom: 60px;  
            color: transparentize($color-text-03, 0.3);
            
            li {
                min-height: 280px;
            }
            
            li .homepg-panel-item{
                padding-top: 100px;
            }
            
            li .homepg-panel-item a {
                width: 100%;
                padding-bottom: 10px;
            }
        }
        
        .homepg-panel-small {
            display: block;
            margin-bottom: 60px;
            font-family: $font-family-brush;
            color: $color-text-01;
            
            li {
                min-height: 160px;
            }
            
            li .view {
                padding-top: 55px;
            }
        }

    }
    
    @include breakpoints-def(medium) {


    }
    
    @include breakpoints-def(large) {
        .homepg-caoursel {
           
        }

        .homepg-panel{
            display: block;
        }
        
        .homepg-panel-small  {
            display: none;
        }
        
        
    }
}

