$parent-class: ".menupg";
$menupg-font-stack: (
    ".side-menu li h4": 25 25 25 25,
    ".side-menu li h6": 12 12 12 12,
    ".menu-items .menu-desc .menu-item-name": 25 25 25 25,
    ".menu-list .menu-list-title": 50 50 50 50
    
);

#{$parent-class} {
    @include font-stack($menupg-font-stack);
    
    @include breakpoints-def(small) {
        .menu-list-panel {
            //background:$color-border-01 url("../../../../images/roastduck.png") no-repeat fixed 0 0; 
            min-height: 200px;
            margin-bottom:30px;
            position:relative;
            
            a {
                display: block;
                min-height: 200px;
                padding: 0 20px;
                background-color: $color-bg-01;
                background-repeat: repeat-y;
                background: -webkit-linear-gradient(left, transparentize($color-bg-01, 0), transparentize($color-bg-03, 0.9));
                background: -moz-linear-gradient(left, transparentize($color-bg-01, 0), transparentize($color-bg-03, 0.9));
                background: -ms-linear-gradient(left, transparentize($color-bg-01, 0), transparentize($color-bg-03, 0.9));
                background: -o-linear-gradient(left, transparentize($color-bg-01, 0), transparentize($color-bg-03, 0.9));                                 
            }
            
            .menu-list-title {
                width: 50%;
                color: $color-text-03;
                line-height: 200px;
                text-transform: uppercase;
            }
        }
        
        .menu-list-panel:after {
              content: "";
              background: url("../../../../images/roastduck.png") no-repeat right top;
              opacity: 0.5;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              position: absolute;
              z-index: -1;  
        }
        
        
        
        
        .side-menu {
            display: none;
        }

        .menu-items {
            display: inline-block;
            padding: 20px 0;
        }
        
        .menu-items-header {
            padding: 0px 35px 10px;
            border-bottom: 1px solid $color-border-01;
            width: 100%;
            position: relative;
            
            li {
                display: inline-block;
                color: $color-text-01;
            }
            
            li img {
                width: 15px;
                height: 20px;
                margin-right: 5px;
            }
            
            li span {
                padding-right: 30px;
                vertical-align: super;
            }
            
            li.menuBack {
                position: absolute;
                right: 0;
                height: 30px;
                line-height: 2em;
                width: 80px;
            }
        }
        
        .menu-list {
            margin: 10px 0 10px 10px;
            height: 100%;
            
            tr td:nth-child(2) {
                padding-bottom: 30px;
            }
            
            .menu-pic{
                width: 20%;
                vertical-align: top;
            }
            
            .menu-pic img {
                width: 150px;
                height: 120px;
            }
            
            .menu-desc {
                margin-left: 30px;
                position: relative;
                min-height: 120px;
                color: $color-text-03;
                line-height: 1.5em;
            }
            
            .menu-item-name {
                color: $color-text-01;
                line-height: 1.5em;
            }
            
            .menu-flavor {
                position: absolute;
                left: 0;
                bottom: 0;
                width:18px;
                height: 26px;
            }
            
            .menu-item-price {
                position: absolute;
                right: 0;
                bottom: 0;
                color: $color-text-01;
            }
        }
    }
    
    @include breakpoints-def(medium) {


    }
    
    @include breakpoints-def(large) {
        .large-one-forth > li:first-child{
            @include span-columns (3);
        }
        
        .large-one-forth > li:last-child{
            @include span-columns (9);
            @include omega();
        }
        
        .side-menu {
            display: inline-block;
            padding: 20px 0;
            
            li {
                margin-bottom: 16px;
                color: $color-text-01;
            }
            
            .side-menu-title {
                text-transform: capitalize;
                line-height: 1.5em;
                border: 1px solid $color-border-01;
                padding: 15px;
                cursor: pointer;
                display: block;
            }
            
            .side-menu-items {
                border: 1px solid $color-border-01;
                color: $color-text-03;
                
                p {
                    padding: 15px;
                }
            }
        }
        
        .menu-list {   
            .menu-pic img {
                width: 210px;
                height: 145px;
            }
            
            .menu-desc {
                min-height: 145px;
            }
        }
        
        .menu-items-header {
            li.menuBack {
                display: none;
            }
        }
    }
}

