// global settings

body {
    //background: url("/designs/assets/"); 
    background-color: $color-bg-01;
}

.garden-bg {
    background: url("/garden-restaurant/src/main/resources/static/images/garden-bg.png") no-repeat center fixed;
    width: 100%;
    background-size: cover;
    padding: 80px 0;
}