// global settings
 @include breakpoints-def(small) {
    body {
        background-color: $color-bg-01;
        font-family: FFMetaWebProNormal,Arial,Helvetica,sans-serif;
    }
     
     a {
        cursor:pointer;
     }

    .garden-bg {
        background: url("../../../../images/garden-bg.png") no-repeat center fixed;
        
        width: 100%;
        background-size: cover;
        padding: 50px 0;
    }
     
     .row.bleed {
        padding: 0 !important;
     }
     
     .column > ul, li>.view {
        position: relative;
     }
     
     li>.view {
        width: 100%;
     }
     
     .column > ul:after, li>.view:after {
        content: "";
         clear: both;
         display: table;
     }
     
    .large-one-forth > li:first-child{
        @include span-columns (3);
    }
        
    .large-one-forth > li:last-child{
        @include span-columns (9);
        @include omega();
    }
}

@include breakpoints-def(medium) {
    .garden-bg {
        padding: 50px 0;
    }    
}
