$parent-class: ".rewardpg";
$rewardpg-font-stack: (
    "ul li h2":25 25 25 25
   
);

#{$parent-class} {
    @include font-stack($rewardpg-font-stack);
    
    @include breakpoints-def(small) {
        .reward-page {
            text-align: center;
            color: $color-text-01;
            background-color: transparentize($color-bg-01, 0.3);
            padding: 60px;
            line-height: 2em;
            font-family: $font-family-brush;
        }
        
        form {
            
            input {
                width: 100%;
                text-align: center;
            }

            .login-pswd {
                margin-bottom: 20px;
            }
            
            label {
                display: block;
            }
            
            .btn-primary {
                display: block;
                background-color: transparentize($color-bg-01, 0.9);
                width: 100%;
                border: 1px solid $color-border-01;
                
                &:hover {
                    
                    background-color: transparentize($color-bg-01, 0.1);
                }
            }
        }

        .help-block {
            padding: 10px;
            
        }
    }
    
    @include breakpoints-def(medium) {


    }
    
    @include breakpoints-def(large) {
        form {
            width: 50%;
            margin: 0 25%;
        }
    }
}

