// define the screen sizes
$small: 640 !default;
$medium: 960 !default;
$large: 1280 !default;
$min-width: 320px !global;
$max-width: 1600px !global;

$breakpoint-array: (small, medium, large, xlarge) !default;

$breakpoints:(
    small: em($small), // min-width: 640
    medium: em($medium), // min-width: 960
    large: em($large), // min-width: 1280 ,
) !global;


@function getBreakpoint($bq) {
    // $bq is default to be a string;can be a number too
    // if $bq is a string, we will return a media query
    // TODO: if $bq is a number, we will compare it with the breakpoints
    @if type-of($bq)==string {
      $bq : map-get($breakpoints,$bq);
    } @else {
        $bq : small;
    }
    @return $bq;
}
    
@mixin breakpoints-def ($bp) { 
    @include media(getBreakpoint($bp)) {
        @content;
    }    
}