// define the screen sizes
$small: 320 !default;
$medium: 640 !default;
$large: 980 !default;
$xlarge: 1024 !default;
$min-width: 320px !global;
$max-width: 1600px !global;

$breakpoint-array: (small, medium, large, xlarge) !default;

$breakpoint-number: length($breakpoint-array) !global;

$breakpoints:(
    //small: em($small), // min-width: 320
    medium: em($medium), // min-width: 640
    large: em($large), // min-width: 980,
    xlarge:  em($xlarge), // min-width: 1024,
) !global;


@function getBreakpoint($bq) {
    // $bq is default to be a string;can be a number too
    // if $bq is a string, we will return a media query
    // TODO: if $bq is a number, we will compare it with the breakpoints
    @if type-of($bq)==string {
      $bq : map-get($breakpoints,$bq);
    } @else {
        $bq : $small;
    }
    @return $bq;
}
    
@mixin breakpoints-def ($bp) { 
    
    @if $bp == "small" {
            @content;
    } @else {
        @include media(getBreakpoint($bp)) {
            @content;
        } 
    }
}