$color-01: #ffc979 !default;
$color-02: #000000 !default;
$color-03: #ffffff !default; //white
$color-04: #39312d !default; 
    
    // background colors
$color-bg-01: $color-04;
$color-bg-02: $color-01;
$color-bg-03: $color-03;


// text color
$color-text-01: $color-01;
$color-text-03: $color-03;

// border color
$color-border-01: $color-01;
$color-border-03: $color-03;