// define the container of the website

// page container class
$page-container: ".page";


#{$page-container} {
    @include outer-container($max-width);
    min-width: $min-width;
}

// column container class
$column-container: ".column";


// number of columns to divide the container
$column-grid-stack:(
    ".full": (1,1,1,1),
    ".full-five": (1,1,5,5),
    ".two-three": (2,2,3,3),
    ".full-two": (1,1,2,2),
    ".full-three": (1,1,3,3),
    ".full-four": (1,1,4,4)
);


// inline block row
$column-parent: ".row";

$column-children: "li, div, a";

// column padding value
$column-spacing: (18,30,80,90);



@mixin column-spacing ($stack: $column-spacing, $selector: $column-parent) {
    @for $i from 1 through $breakpoint-number {
        $bq: nth($breakpoint-array, $i);
        @include breakpoints-def($bq) {
            #{$selector} {
                padding-right: nth($stack, $i)*1px;
                padding-left: nth($stack, $i)*1px;
            }
        }
    }
}



// apply the columns settings
@mixin column-grid ($stack: $column-grid-stack, $selector: $column-container) {
    @for $i from 1 through $breakpoint-number {
        $bq: nth($breakpoint-array, $i);
        @include breakpoints-def($bq) {
            #{$selector} {
                @each $value in $stack {
                    $col:12/nth(nth($value,2),$i);
                    #{nth($value,1)} {
                        #{$column-children}
                        {
                            @include span-columns ($col);
                        }
                    };
                }
            }
        }
    }
}


@include column-spacing ($stack: $column-spacing, $selector: $column-parent);
@include column-grid($stack: $column-grid-stack, $selector: $column-container);
