
@font-face {
  font-family: 'Rock Salt';
  font-weight: normal;
  font-style: normal;
}

$font-stack-deafult: (
    "body": (12,12,15,15)
);

$font-family-web: Arial, Helvetica, sans-serif !global;
$font-family-brush: 'Rock Salt' !global;

@mixin font-stack ($stack: $font-stack-deafult) {
    @for $i from 1 through $breakpoint-number {
        $bq: nth($breakpoint-array, $i);
        @include breakpoints-def($bq) {

            @each $value in $stack {
                $size:nth(nth($value,2),$i);
                #{nth($value,1)} {
                    font-size: em($size); 
                };
            }
            
        }
    }
}

@include font-stack($stack: $font-stack-deafult);